@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.main-container{
background-color: rgb(157, 157, 243);
width: 70%;
margin: auto;
margin-top: 10%;
margin-bottom: 10%;
box-shadow: 0 0 20px 20px rgba(100,100,100,0.1);
padding: 10px;
}
.header-main span{
    text-align: center;
    font-weight: bolder;
    display: block;
    font-size: 32px;
    font-family:serif
}
.search-container input{
    outline: none;
    border: none;
    width:95%;

}

.search-container{
    color: rgb(187, 182, 182);
    background-color: white;
    border: none;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    width: 50%;
    padding: 0.5rem;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
}

.item-main{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-between;
    align-content:flex-start;
}
.item{
    background-color: rgb(38, 38, 116);
    color: white;
    width: 100px;
    height: 100px;
    margin: 0.5rem;
    padding: 1rem;
    overflow: hidden;
    font-size: 12px;
    font-weight: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 0.1rem;
    cursor: pointer;
}