@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #22254b;
}
header{
    background-color: #373b69;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
}
header input{
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    font-family: inherit;
    outline: none;
}
header input::placeholder{
    color: #a0a4d6;
}
.movie{
    background-color: #373b69;
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
.movie img{
    display: inline-block;
    width: 100%;
    height: 400px;
    object-fit: cover;

}
.movie-info{
    color: #eee;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    align-items: center;
}
.movie-info h3{
    margin: 0;
}
.movie-info span{
    background-color: #22254b;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
}
main{
    display: flex;
    flex-wrap: wrap;
}

.movie-info span.green{
    color: rgb(14, 196, 14);
}
.movie-info span.orange{
    color: orange;
}
.movie-info span.red{
    color: red;
}

.overview{
    position: absolute;
    background-color: #fff;
    bottom:0;
    left:0;
    right:0;
    padding:2rem;
    transform: translateY(100%);
    transition: transform 0.5s ease-in;
    max-height: 100%;
    overflow: auto;

}
.movie:hover .overview{
    transform: translateY(0);
}